/* универсальный стиль */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --primary-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}
/* основной цвет текста #212121 */
/* вспомогательный цвет текста #757575 */
/* основной цвет фона #E5E5E5 */
/* Вспомогательный цвет фона #F5F4FA */
/* акцент #2196F3 */
/* цвет футера #2F303A */


body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}


/* стили Хедера */
.logo {
  color: var(--title-text-color);
  
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent);
}
.list-nav {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  color: currentColor; 
}

.link:hover,
.link:focus {
  color: var(--accent);
}

.link-nav {
  color: var(--accent);
}

.ause-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Подвал */
footer {
  background-color: var(--third-background-color);
}

.logo-footer{
  color: #ffffff;
}

.footer-main-link{
  color: #ffffff;
}

.footer-link{
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}


/* стили main portfolio*/
main {
  background-color: var(--second-background-color);
}

/* .page-title {} */

.button-list {
  color: var(--title-text-color);
}

.button-list button {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.button-list button:hover,
.button-list button:focus {
  color: #ffffff;
  background-color: var(--accent);
}

button {
    border: none;
    font-family: inherit;
}

.cards-text{
  color: var(--primary-text-color);
}

/* стили main index */

.hero{
  background-color: #2F303A;
}

.hero-title{

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

.hero-button{
  background-color: var(--accent);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
}

.advantage-title{

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text{

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work,
.team{

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title{

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text{

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}